<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    {% block title %}<title>API Search Application</title>{% endblock %}
    <style>
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">API Search Application<span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'scans:domain_ip' %}">Searched Domain/IP</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'scans:files' %}">Searched Files</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">History</a>
                </li>
            </ul>
        </div> 
    </nav>
    <h3 class="align4">Searched Files</h3>
    <div class="align2">   
        <table class="styled-table">
            <thead>
                <tr>
                    <th>File ID</th>
                    <th>Type</th>
                    <th>Score</th>
                    <th>Severity</th>
                    <th>Date</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for r in file_query %}
                <td>{{ r.file_id }}</td>
                <td>{{ r.type }}</td>
                <td>{{ r.score }}</td>
                <td class="{% if r.severity == 'Low' %}low{% endif %}{% if r.severity == 'Medium' %}medium{% endif %}{% if r.severity == 'High' %}high{% endif %}">{{ r.severity }}</td>
                <td>{{ r.date }}</td>
                <td>{{ r.tags }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h5 class="align3">Search for more Files</h5>
    <div class="align5">
        <form action="{% url 'scans:search_file' %}" method="get" name="FormFile" onsubmit="return searchFile()">
            <input name="file" type="text" placeholder="Search for File Hash">
            <button class="button1" type="submit">Submit</button>
        </form>
    </div>
    <script>
    function searchFile(){
        var File = document.forms["FormFile"]["file"].value;
        if (File == null || File == "") {
            alert("Please input a File Hash");
            return false;
        }
    }
    </script>
</body>
</html>